.ngx-charts-tooltip-content {
  background: rgba(181, 15, 15, 0.9) !important;
  color: #b57474 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  font-size: 14px !important;
}
