<header>
  <nav>
    <h1>Olympic games app</h1>
  </nav>
</header>
<h2>Medals per Country</h2>
<div id="recapContainer">
  <div class="recap">
    <h3>Number of JOs</h3>
    <p>{{numberOfJOs}}</p>
  </div>
  <div class="recap">
    <h3>Number of countries</h3>
    <p>{{(olympics$ | async)?.length}}</p>
  </div>
</div>
<div class="chartContainer">
  <ngx-charts-pie-chart
    [results]="chartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    [scheme]="colorScheme"
    (select)="onSelect($event)"
    [tooltipText]="formatTooltipText"
  >
  </ngx-charts-pie-chart>
</div>

<div #tooltipTemplate class="tooltip-container" style="display: none; position: fixed; pointer-events: none;"></div>
